<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <%= form_with model: @book_detail, local:true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control book_title", id: "book_title" %>
        </div>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, class: "form-control book_body", id: "book_body" %>
        </div>
        <div class="form-group">
          <%= f.submit 'Update Book', value: "Update Book", class: "btn btn-success" %>
        </div>
      <% end %>
      <%= link_to 'Show', book_path(@book_detail), class: "book_6077_#{@book_detail.id}" %>
      |
      <%= link_to 'Back', books_path, class: "back" %>
    </div>
  </div>
</div>
